img {
    width: 63px; 
    height: auto; 
    border: 3px solid white;
    border-radius: 50%;
}
h1{
    font-size:36px;
}
h2{
    font-size: 16px;
    margin-left: 25px;
    color: rgb(151, 155, 202);
}
h2:hover{
    cursor: pointer;
    color:rgb(254, 255, 248);
}

.container {
    width: 210px; 
    height: 421px; 
    gap: 8px;
    border-radius: 10px;
}
.profile-container{
    width: 160px;
    height: 239px;
    gap: 8px;
    border-radius: 10px; 
    padding: 25px; 
}
.image-container{
    margin-bottom: 32px;
}
.content-wrapper{
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

