.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-items: start;    
    align-items: start;
    margin: 150px;
    margin-top: 250px;
    min-width: 900px;
    max-width: 950px;
}

.profile-card,
.activity-card {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-card {
    grid-column: span 1;
    grid-row: span 2;
}

.activity-card {
    grid-column: span 1;
    grid-row: span 1;
}
.content-container{
    display: flex;
    justify-content: center;
    min-width: 1000px;
  }